/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */

.Navbar {
  height: 20%;
  width: 100%;
  position: fixed;
  background-color:rgb(38, 37, 68);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  z-index:1;
}

.Title {
  font-size: 40px;
  position: absolute;
  top:23%;
  left:3%;
  color: rgb(141, 218, 166);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border: 2px solid rgb(141, 218, 166);
  border-radius: 5px;
  padding-left: 8px;
  padding-right: 8px;
}

.Searchbar {
  position:absolute;
  top:40%;
  left:17%;
  width:80%;
  height:35%;
}

.Searchfield {
  position: absolute;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border: 2px solid rgb(141, 218, 166);
  border-right-color: white;
  width:60%;
  height:100%;
}

.Searchbutton {
  position: absolute;
  left:59%;
  background-color:rgb(38, 37, 68); 
  color: rgb(141, 218, 166);
  border: 2px solid rgb(141, 218, 166);
  border-left-color: white;
  height:100%;
  width:10%;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-left: 5px;
  padding-right: 5px;
}

.Searchcategory {
  position: absolute;
  left:68%;
  background-color:rgb(38, 37, 68);
  color: rgb(141, 218, 166);
  border: 2px solid rgb(141, 218, 166);
  border-left-color: rgb(141, 218, 166);
  height:100%;
  width:15%;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-left: 18px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.Searchsort{
  position: absolute;
  left:82.8%;
  background-color:rgb(38, 37, 68);
  color: rgb(141, 218, 166);
  border: 2px solid rgb(141, 218, 166);
  border-left-color: rgb(141, 218, 166);
  height:100%;
  width:18%;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-left: 18px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.Slideshow {
  position:absolute;
  top:20%;
  width:100%;
  height:80%;
}

.Background {
  position:absolute;
  width:100%;
  height:100%;
}

.searchresult {
  border:none;
  background: white;
}

.Loginbutton {
  position:absolute;
  color: rgb(141, 218, 166);
  left: 93%;
  top: 5%;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color:rgb(38, 37, 68);
  border: 2px solid rgb(141, 218, 166);
  border-radius: 3px;
}

.Loginbackground {
  position:absolute;
  background-color:rgb(38, 37, 68);
  border: 2px solid rgb(141, 218, 166);
  top: 20%;
  left:35%;
  height:100%;
  width:30%;
  border-radius: 10px;
  opacity: 0.9;
}

.Signupbackground {
  position:absolute;
  background-color:rgb(38, 37, 68);
  border: 2px solid rgb(141, 218, 166);
  top: 20%;
  left:35%;
  height:100%;
  width:30%;
  border-radius: 10px;
  opacity: 0.9;
}

.Username {
  position:absolute;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  top:17.5%;
  left:15%;
  width:70%;
  height:10%;
  border-radius: 6px;
  border: 1px solid rgb(141, 218, 166);
  text-align: center;
}

.Password {
    position:absolute;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    top:37.5%;
    left:15%;
    width:70%;
    height:10%;
    border-radius: 6px;
    border: 1px solid rgb(141, 218, 166);
    text-align: center;
}

.Loginformbutton {
  position:absolute;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(141, 218, 166); 
  font-size: 100%;
  color:white;
  top:57.5%;
  left:15%;
  width:70%;
  height:10%;
  border-radius: 6px;
  border: 1px solid rgb(141, 218, 166);
  text-align: center;
}

.Signuplink {
  position:absolute;
  color: rgb(141, 218, 166);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  top:77.5%;
  left:23%;
  width:60%;
}

.Signupformbutton {
  position:absolute;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(141, 218, 166); 
  font-size: 100%;
  color:white;
  top:74%;
  left:15%;
  width:70%;
  height:10%;
  border-radius: 6px;
  border: 1px solid rgb(141, 218, 166);
  text-align: center;
}

.Signupformcheckboxcontent {
  position: absolute;
  top:58.78%;
  width:70%;
  left:15%;
  color: rgb(141, 218, 166);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
}

.Signupformcheckbox {
  position:absolute;
  top:20%;
  left:12%;
}

.searchresult-title {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border:none;
  background-color: white;
  font-size: 18px;
}

.searchresult {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 17px;
  font-weight: bold;
}

.searchcontent {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
}

.searchresult-image {
  position: relative;
  left:-27%;
}

.searchresult-div-title {
  position: absolute;
  left:9%;
}

.searchresult-read-more {
  position: relative;
  left:42%;
  background-color: rgb(38, 37, 68);
  color: rgb(141, 218, 166);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-radius: 5px;
  border: 1px solid rgb(141, 218, 166);
}

.Moviefulldetail {
  position: absolute;
  top:20%;
  background-color: white;
  height:100%;
  width:100%;
}

.whitener{
  position: absolute;
  background-color: white;
  height: 100%;
  width:100%;
  top:20%;
}

.Moviefulldetail-title {
  background-color: white;
  position: absolute;
  top:2%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  width:100%;
  height: 10%;
  font-size:30px;
}

.Moviefulldetail-image {
  background-color: white;
  position: absolute;
  top:10%;
  left:1%;
}

.Moviefulldetail-rating {
  background-color: white;
  position: absolute;
  top:10%;
  left:15%;
}

.Moviefulldetail-language {
  background-color: white;
  position: absolute;
  top:33%;
  left:15%;
}

.Moviefulldetail-overview {
  background-color: white;
  position: absolute;
  top:20%;
  left:15%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
}

.Moviefulldetail-releasedate {
  background-color: white;
  position: absolute;
  top:43%;
  left:15%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
}

.Moviefulldetail-budget {
  background-color: white;
  position: absolute;
  top:53%;
  left:15%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
}

.Moviefulldetail-revenue {
  background-color: white;
  position: absolute;
  top:63%;
  left:15%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
}

.Moviefulldetail-cast {
  background-color: white;
  position: absolute;
  width:100%;
  top:80%;
  left:15%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
}

.Moviefulldetail-cast-title {
  background-color: white;
  position: absolute;
  top:73%;
  left:15%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
}

.second-label {
  background-color: white;
 position: absolute;
 left:35%;
}

.Moviefulldetail-review {
  position: absolute;
  top: 43%;
  left:45%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.Moviefulldetail-review-title {
  position:absolute;
  left:45%;
  top:38%;
}

.Moviefulldetail-watchlist {
  position:absolute;
  left:45%;
  top:66%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.Moviefulldetail-favourites {
  position:absolute;
  left:57%;
  top:66%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.Moviefulldetail-submit {
  position:absolute;
  left:70%;
  top:65%;
  background-color: rgb(38, 37, 68);
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-radius: 5px;
  border:none;
}

.Userlogoutbutton {
    position:absolute;
    color: rgb(141, 218, 166);
    left: 94%;
    top: 8%;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color:rgb(38, 37, 68);
    border: 2px solid rgb(141, 218, 166);
    border-radius: 3px;

}

.userlists {
  position:absolute;
  color: rgb(141, 218, 166);
  left: 82%;
  top: 8%;
  height:24%;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color:rgb(38, 37, 68);
  border: 2px solid rgb(141, 218, 166);
  border-radius: 3px; 
}

.UserSearchbar {
  position:absolute;
  top:33%;
  left:15%;
  width:80%;
  height:35%;
}

.userslist {
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  border:2px solid rgb(141, 218, 166);
  text-align: center;
  margin:2px;
  color:rgb(38, 37, 68);
}

.Slideshow1 {
  position: absolute;
  top:20%;
  width: 100%;
  height: 100%;
  background-color: white;
}

.Readreview {
  position: absolute;
  top:2%;
  left:90%;
  border:2px solid rgb(141, 218, 166);
  background-color: rgb(38, 37, 68);
  color: rgb(141, 218, 166);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-radius: 5px;
}

.Review {
  position: absolute;
  height:30%;
  width:40%;
  left:30%;
  top:30%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:rgb(141, 218, 166);
  background-color: rgb(38, 37, 68);
  border:2px solid rgb(141, 218, 166);
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  opacity: 0.92; 
}

.separator {
  color: rgb(141, 218, 166);
  background-color: rgb(141, 218, 166);
}

.userlist-button {
  position: absolute;
  left:20%;
  top:0%;
  border-radius: 10px;
  border: 2px solid rgb(141, 218, 166);
  background-color: rgb(38, 37, 68);
  color: white;

}

